/*颜色*/
/*粉红*/
/*灰色*/
/*白色*/
/*棕色*/
/*蓝色*/
/*字体*/
body {
  font-size: 16px;
}
.small-font {
  font-size: 14px;
}
.big-font {
  font-weight: 700;
}
.bg-white {
  background-color: #ffffff;
}
.bg-grey {
  background-color: #f6f7f8;
}
.bg-blue {
  padding: 3px 0 ;
  font-size: 12px;
  color: #c6c6c6;
  text-align: center;
  background-color: #37485a;
}
.bg-blue p {
  margin: 0;
}
.bg-pink {
  background-color: #e85662;
}
.font-brown {
  color: #c6c6c6;
}
.font-pink {
  color: #e85662;
}
.left {
  float: left;
}
.right {
  float: right;
}
.under-line {
  display: inherit;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
}
.m-title {
  padding: 80px 0 50px;
  text-align: center;
}
.m-title p,
.m-title span {
  margin-bottom: 5px;
}
.m-title p {
  font-size: 20px;
  font-weight: 700;
}
.m-title span {
  font-size: 16px;
}
.m-title div {
  margin: 4px auto;
  width: 30px ;
  height: 2px;
  background-color: #e85662;
}
.active {
  color: red !important;
}
.active2 {
  background-color: red !important;
}
.m-banner {
  height: 50vh;
  overflow: hidden;
}
.m-banner img {
  width: 100%;
}
.m-wrap {
  display: flex;
  flex-wrap: wrap-reverse;
}
@media (max-width: 993px) {
  .m-wrap {
    justify-content: center;
  }
}
.padding {
  padding: 20px 0;
}
.col-warp {
  width: 98px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.border-1 {
  border: 1px solid #f6f7f8;
}
.m-no {
  text-align: center;
}
.m-no img,
.m-no div {
  display: inline-block;
}
.limit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.u-title {
  border-left: 5px solid #e85662;
  padding-left: 10px;
}
.u-warp {
  margin-left: 10px;
  white-space: pre-wrap;
  line-height: 2;
}
.u-line {
  display: inline-block;
  width: 60%;
  height: 1px;
  margin-left: 2%;
  margin-bottom: 6px;
  background-color: #f6f7f8;
}
.cursor {
  cursor: pointer;
}
.m-int {
  display: flex;
  justify-content: center;
}
.m-int-text {
  display: inline-block;
  max-width: 280px;
  margin: 105px 20px;
}
.m-int-text h1 {
  font-size: 24px;
}
.m-int-img {
  margin: 0 20px;
  display: inline-block;
  line-height: 400px;
}
.m-image {
  height: 79px;
  line-height: 79px;
  width: 1px;
  margin: 0 auto;
  border-left: 1px dashed grey;
}
.m-image img {
  position: relative;
  right: 9px;
  top: 30px;
}
.m-server-step {
  padding-bottom: 65px;
}
.m-server-step img {
  display: block;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .m-server-step p {
    margin: 30px 0;
    text-align: center;
  }
  .m-int {
    flex-wrap: wrap;
  }
}
.m-good {
  text-align: center;
  margin-bottom: 50px;
}
.m-good p {
  margin: 20px 0;
}
.m-more-com {
  display: block;
  height: 54px;
  width: 180px;
  margin: 15px auto 30px;
  color: #ffffff;
  background-color: #e85662;
  border: none;
  border-radius: 5px;
}
