/*颜色*/
/*粉红*/
/*灰色*/
/*白色*/
/*棕色*/
/*蓝色*/
/*字体*/
body {
  font-size: 16px;
}
.small-font {
  font-size: 14px;
}
.big-font {
  font-weight: 700;
}
.bg-white {
  background-color: #ffffff;
}
.bg-grey {
  background-color: #f6f7f8;
}
.bg-blue {
  padding: 3px 0 ;
  font-size: 12px;
  color: #c6c6c6;
  text-align: center;
  background-color: #37485a;
}
.bg-blue p {
  margin: 0;
}
.bg-pink {
  background-color: #e85662;
}
.font-brown {
  color: #c6c6c6;
}
.font-pink {
  color: #e85662;
}
.left {
  float: left;
}
.right {
  float: right;
}
.under-line {
  display: inherit;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
}
.m-title {
  padding: 80px 0 50px;
  text-align: center;
}
.m-title p,
.m-title span {
  margin-bottom: 5px;
}
.m-title p {
  font-size: 20px;
  font-weight: 700;
}
.m-title span {
  font-size: 16px;
}
.m-title div {
  margin: 4px auto;
  width: 30px ;
  height: 2px;
  background-color: #e85662;
}
.active10 {
  color: red !important;
}
.active2 {
  background-color: red !important;
}
.m-banner {
  height: 50vh;
  overflow: hidden;
}
.m-banner img {
  width: 100%;
}
.m-wrap {
  display: flex;
  flex-wrap: wrap-reverse;
}
@media (max-width: 993px) {
  .m-wrap {
    justify-content: center;
  }
}
.padding {
  padding: 20px 0;
}
.col-warp {
  width: 98px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.border-1 {
  border: 1px solid #f6f7f8;
}
.m-no {
  text-align: center;
}
.m-no img,
.m-no div {
  display: inline-block;
}
.limit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.u-title {
  border-left: 5px solid #e85662;
  padding-left: 10px;
}
.u-warp {
  margin-left: 10px;
  white-space: pre-wrap;
  line-height: 2;
}
.u-line {
  display: inline-block;
  width: 60%;
  height: 1px;
  margin-left: 2%;
  margin-bottom: 6px;
  background-color: #f6f7f8;
}
.cursor {
  cursor: pointer;
}
.m-center {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.m-center p {
  margin: 20px 0;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}
.m-center span {
  font-size: 14px;
}
.m-flex {
  display: flex;
  /*height: 186px;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  border-left: 1px solid #f6f7f8;
}
.m-flex div span {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #e85662;
}
.m-flex div p {
  margin: 0;
  font-size: 14px;
}
.m-con-peo {
  padding: 70px 0;
}
.m-server {
  text-align: center;
  margin-bottom: 30px;
}
.m-server img {
  max-width: 100%;
}
.m-server p {
  margin: 0;
  padding: 15px 0;
  font-size: 14px;
}
.m-server div {
  border-radius: 5px;
}
.u-server-img {
  padding: 0;
  border: 2px solid #f6f7f8;
  margin-bottom: 30px;
}
.m-server-box {
  height: 75px;
  border-bottom: 3px dashed #f6f7f8;
  position: relative;
}
.m-server-box img {
  position: absolute;
  top: 60px;
}
.box {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}
.box div {
  display: inline-block;
  width: 20%;
  margin: 0 2%;
}
.box img {
  display: inline-block;
  padding: 10px;
  width: 100% ;
  height: 200px;
  border-bottom: 2px solid #f6f7f8;
}
.box p {
  padding: 5px 5px ;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 993px) {
  .u-server div {
    border: none;
  }
  .m-server-box {
    display: none;
  }
  .box {
    /* div:active{
      color: black !important;
    }*/
  }
  .box div {
    border: none;
    width: 80%;
    color: black !important;
  }
}
.carousel-control.left,
.carousel-control.right {
  background-image: none!important;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.carousel-indicators {
  display: none;
}
.active3 {
  color: #000 !important;
}
