/*颜色*/
/*粉红*/
/*灰色*/
/*白色*/
/*棕色*/
/*蓝色*/
/*字体*/
body {
  font-size: 16px;
}
.small-font {
  font-size: 14px;
}
.big-font {
  font-weight: 700;
}
.bg-white {
  background-color: #ffffff;
}
.bg-grey {
  background-color: #f6f7f8;
}
.bg-blue {
  padding: 3px 0 ;
  font-size: 12px;
  color: #c6c6c6;
  text-align: center;
  background-color: #37485a;
}
.bg-blue p {
  margin: 0;
}
.bg-pink {
  background-color: #e85662;
}
.font-brown {
  color: #c6c6c6;
}
.font-pink {
  color: #e85662;
}
.left {
  float: left;
}
.right {
  float: right;
}
.under-line {
  display: inherit;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
}
.m-title {
  padding: 80px 0 50px;
  text-align: center;
}
.m-title p,
.m-title span {
  margin-bottom: 5px;
}
.m-title p {
  font-size: 20px;
  font-weight: 700;
}
.m-title span {
  font-size: 16px;
}
.m-title div {
  margin: 4px auto;
  width: 30px ;
  height: 2px;
  background-color: #e85662;
}
.active {
  color: red !important;
}
.active2 {
  background-color: red !important;
}
.m-banner img {
  width: 100%;
}
.m-wrap {
  display: flex;
  flex-wrap: wrap-reverse;
}
.padding {
  padding: 20px 0;
}
.col-warp {
  width: 98px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.border-1 {
  border: 1px solid #f6f7f8;
}
.m-no {
  text-align: center;
}
.m-no img,
.m-no div {
  display: inline-block;
}
.limit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.u-title {
  border-left: 5px solid #e85662;
  padding-left: 10px;
}
.u-warp {
  margin-left: 10px;
  white-space: pre-wrap;
  line-height: 2;
}
.u-line {
  display: inline-block;
  width: 60%;
  height: 1px;
  margin-left: 2%;
  margin-bottom: 6px;
  background-color: #f6f7f8;
}
.cursor {
  cursor: pointer;
}
.m-jobD-logo {
  text-align: center;
}
.m-jobD-logo > img {
  display: block;
  width: 150px;
  height: 150px;
  padding: 5px;
  margin: 0 auto;
  border: 1px solid #000;
}
.m-jobD-logo p {
  margin: 20px 0 40px ;
}
.m-jobD-inf > p {
  margin: 0 0 20px 20px;
}
.m-jobD-inf > p:first-child {
  margin-left: 0;
}
.modal-header {
  background-color: #e85662;
}
.modal-body {
  padding: 20px;
}
.modal-footer {
  display: none;
}
.m-bootbox {
  float: right;
  width: 120px;
  height: 40px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
.u-icon > a {
  background: url(../images/sharing-sprite.png) no-repeat;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
}
.u-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.u-icon-wei {
  background-position: -8px -8px !important;
}
.u-icon-qq {
  background-position: -47px -8px !important;
}
.u-icon-weibo {
  background-position: -86px -8px !important;
}
.m-job-ft {
  padding: 30px 0 20px ;
  border-top: 2px solid #f6f7f8;
}
.m-job-ft p {
  display: inline-block;
}
.u-line-p {
  border-right: 2px solid #f6f7f8;
}
