.m-swh {
  margin-top: 30px;
  font-size:1.7rem;
  border-bottom: 1px solid #e85662;

  .srh-item {
    display: inline-block;
    width: 60px;
    text-align: center;
  }
  .active3 {
    background-color: #e85662;
    font-weight: bold;
    color: white;
  }
}
.g-mn-job {
  background-color: white;
  font-size: 1.5rem;
  .f-schkey {
    margin: 10px ;
    span{
      color: rgb(150,150,150);
    }
  }
  .m-idst {
    margin: 15px auto;
    .idt-lb{
      display:inline-block;
      min-width: 70px;
      vertical-align: super;
      margin-left: 15px;
      font-weight: bold;
    }
    ul {
      display: inline-block;
      li{
        float: left;
        min-width: 50px;
        display: inline-block;
        margin-right: 10px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
  .submit {
    text-align: center;
    .clr{
      display: inline-block;
      width: 60px;
      cursor: pointer;
    }
    .sch{
      display: inline-block;
      width: 60px;
      background-color: #e85662;
      cursor: pointer;
    }
  }
}
.g-mn-list {
  margin-top:20px;
  background-color: white;
  .f-listjb{
    height: 150px;
    padding: 0;
    border-right: 1px solid grey;
    background-color: white;
    div {
      margin-left: 30px;
      height: 50px;
      line-height: 50px;
    }
  }
  .f-jbdata{
    background-color: white;
    .outer {
      div {
        height: 50px;
      }
    }
    .cpylogo {
      margin-top: 10px;
       border: 1px solid lightgray !important;
    }
  }
}
.active4 {
  background-color: #e85662;
}