<div style="background-color: rgb(240,240,240)">
    <div class="container">
        <div class="row g-bn-fj">
            <div class="col-xs-12 row" >
                <div class=" col-xs-3 m-sd">
                        <div class="m-prdt">
                        <ul class="m-ltab">
                            <li><img id="icon1" src="images/zzz-jishu.png" height="18" width="21"/>产品类</li>
                            <li  ng-repeat = "(x,y) in vm.prdt" ng-click="vm.search(y)" >{{x}}</li>
                        </ul>
                        <div class="m-hvprdt">
                            <div>
                                <span class="list-tt"> 产品</span>
                                <ul class="lvl">
                                    <li class="prdt-item"   ng-repeat = "(x,y) in vm.levl1" ng-click="vm.lookfor(this)" >{{x}}</li>
                                </ul>
                            </div>
                            <div>
                                <span class="list-tt"> UI</span>
                                <ul class="lvl">
                                    <li class="prdt-item"  ng-click="vm.lookfor(this)"  ng-repeat = "(x,y) in vm.levl2" >{{x}}</li>
                                </ul>
                            </div>
                            <div>
                                <span class="list-tt"> QA</span>
                                <ul class="lvl">
                                    <li class="prdt-item"  ng-click="vm.lookfor(this)"  ng-repeat = "(x,y) in vm.levl3" >{{x}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m-tech">
                        <ul class="m-ltab">
                            <li><img id="icon2" src="images/zzz-jishu.png" height="18" width="21"/>技术类</li>
                            <li ng-repeat ="(x,y) in vm.tech"   ng-click="vm.search(y)" >{{x}}</li>
                        </ul>
                        <div class="m-hvtech">
                            <div>
                                <span class="list-tt"> Android</span>
                                <ul class="lvl">
                                    <li class="prdt-item"  ng-click="vm.lookfor(this)"  ng-repeat = "(x,y) in vm.levl4" >{{x}}</li>
                                </ul>
                            </div>
                            <div>
                                <span class="list-tt">IOS</span>
                                <ul class="lvl">
                                    <li class="prdt-item"  ng-click="vm.lookfor(this)"   ng-repeat = "(x,y) in vm.levl5" >{{x}}</li>
                                </ul>
                            </div>
                            <div>
                                <span class="list-tt"> WEB</span>
                                <ul class="lvl">
                                    <li class="prdt-item"  ng-click="vm.lookfor(this)"   ng-repeat = "(x,y) in vm.levl6" >{{x}}</li>
                                </ul>
                            </div>
                            <div>
                                <span class="list-tt"> OP</span>
                                <ul class="lvl">
                                    <li class="prdt-item"  ng-click="vm.lookfor(this)"  ng-repeat = "(x,y) in vm.levl7" >{{x}}</li>
                                </ul>
                            </div>
                            <div>
                                <span class="list-tt"> Java</span>
                                <ul class="lvl">
                                    <li class="prdt-item"  ng-click="vm.lookfor(this)"  ng-repeat = "(x,y) in vm.levl8" >{{x}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m-data">
                        <ul class="m-ltab">
                            <li><img id="icon3" src="images/zzw-sheji.png" height="18" width="21"/>大数据</li>
                            <li ng-repeat="(x,y) in vm.bigData"  ng-click="vm.search(y)" >{{x}}</li>
                        </ul>
                        <div class="m-hvdata">
                            <div>
                                <span class="list-tt"> NLP</span>
                                <ul class="lvl">
                                    <li class="prdt-item"  ng-click="vm.lookfor(this)"   ng-repeat = "(x,y) in vm.levl9" >{{x}}</li>
                                </ul>
                            </div>
                            <div>
                                <span class="list-tt"> DM</span>
                                <ul class="lvl">
                                    <li class="prdt-item" ng-click="vm.lookfor(this)"  ng-repeat ="(x,y) in vm.levl10">{{x}}</li>
                                </ul>
                            </div>
                            <div>
                                <span class="list-tt"> DL</span>
                                <ul class="lvl">
                                    <li  class="prdt-item"  ng-click="vm.lookfor(this)"  ng-repeat = "(x,y) in vm.levl11" >{{x}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-pic col-xs-9 ">
                    <div style="min-height: 305px">
                        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                            <div uib-slide ng-repeat="slide in slides1 track by slide.id" index="slide.id">
                                <img ng-src="{{slide.image}}"  style="margin:auto;">
                            </div>
                        </div>
                    </div>

                    <div class="m-sch">
                        <div class="input-prepend f-ipt">
                            <span class="add-on f-srhlb" >公司名称</span>
                            <input  id="cpny-name" type="text" ng-model="vm.name" placeholder="公司名称">
                            <div class="f-srhbtn" ui-sref="app.searchCpy({name:vm.name})" >搜索</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!--推荐职位-->
        <div class="g-mn-fj row">
            <div class="m-tt">
                <span ng-click="vm.status=true" ng-class="{true:'active5'}[vm.status]">最新职位</span>
                <span ng-click="vm.status=false"  ng-class="{true:'active5'}[!vm.status]">推荐职位</span>
                <span class="pull-right"  ui-sref="app.searchJob">更多职位 ></span>
            </div>
            <div class="col-xs-12 col-sm-3 m-newjob"  ui-sref="app.jobDetail({id:x.id})" ng-show="vm.status"  ng-repeat =" x in vm.njob">
                <div class="box-item">
                    <div class="logo">
                        <img src="{{x.logo}}" alt="">
                    </div>
                    <div class="des">
                        <p>{{x.compensation|compensation}}</p>
                        <p>{{x.name}}</p>
                        <p>{{x.companyName}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 m-newjob"  ui-sref="app.jobDetail({id:x.id})" ng-show="!vm.status" ng-repeat =" x in vm.rjob">
                <div class="box-item">
                    <div class="logo">
                        <img src="{{x.logo}}" alt="">
                    </div>
                    <div class="des">
                        <p>{{x.compensation|compensation}}</p>
                        <p>{{x.name}}</p>
                        <p>{{x.companyName}}</p>
                    </div>
                </div>
            </div>
        </div>

    <!--推荐公司-->

        <div class="g-mn-fcpy">
            <div class="reco-tt"><span>推荐公司</span><span class="pull-right" ui-sref="app.searchCpy">更多公司></span></div>
        </div>
        <div class=" m-mn row">
            <div class="fst-item col-xs-12 col-sm-4">
                <div></div>
            </div>
            <div class="cpy-pic col-xs-6 col-sm-2" ng-repeat="x in vm.rcpy" ui-sref="app.companyDetail({id:x.id})">
                <img src="{{x.logo}}" alt="#">
            </div>
        </div>
        <div class="f-lb">
        <div class="bannery" style="min-height: 180px" uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div class="banner-out row" uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <div class="col-sm-2 col-xs-4 cpy-logo"><img ng-src="{{slide.image}}"></div>
                <div class="cpy-info col-xs-8 col-sm-4">
                    <p>
                        <b>{{slide.name}}</b> &nbsp;加入萝卜多俱乐部
                    </p>
                    <p>
                        <span>{{slide.slogan}}</span>
                        <span>{{slide.financing}}</span>
                    </p>
                </div>
                <div class="cpy-jobs col-xs-12 col-sm-6">
                    <p><b>正在热招</b></p>
                    <p>
                        <span>产品经理</span>
                        <span>UI</span>
                        <span>WEB</span>
                    </p>
                </div>
            </div>
        </div>

    <!--介绍-->

             <div class="row g-mn-intro">
            <div class="f-intro col-xs-12 row">
                <div class="col-xs-12 col-sm-6" >
                    <img src="images/findjob1.png" alt="">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3>0预付，无风险</h3>
                    <h4>入职付一半，转正付一半</h4>
                    <p>普通猎头是三个月的薪水。非一般的我们<br>
                        只 收一个月的薪水。如果试用期不通过，<br>
                        使用去哪通不过免费推荐另一个。
                    </p>
                </div>
            </div>
            <div class="f-intro col-xs-12 row m-wrap">
                <div class="col-xs-12 col-sm-6">
                    <h3>0预付，无风险</h3>
                    <h4>入职付一半，转正付一半</h4>
                    <p>普通猎头是三个月的薪水。非一般的我们<br>
                        只 收一个月的薪水。如果试用期不通过，<br>
                        使用去哪通不过免费推荐另一个。
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6" >
                    <img src="images/findjob2.png" alt="">
                </div>
            </div>
        </div>
            <div class="row footer-banner">
                <img class="col-xs-12" src="images/findjob-bottombanner.png" alt="">
            </div>
    </div>
</div>
</div>




