
<div>

    <div class="m-banner">
        <img src={{vm.src}} alt={{vm.href}}>
    </div>

    <div class="container m-con-peo">
        <div class="row">
            <div class="col-md-3 m-center">
                <img src="images/jianjie-1.png">
                <p>超短相应时间</p>
                <span>48小时高效推荐</span>
            </div>
            <div class="col-md-3 m-center">
                <img src="images/jianjie-2.png">
                <p>行业1/3的价格</p>
                <span>成功推荐仅收费1月工资</span>
            </div>
            <div class="col-md-3 m-center">
                <img src="images/jianjie-3.png">
                <p>三维的人才评测</p>
                <span>技术人事背景三维评定</span>
            </div>
            <div class="col-md-2 m-flex">
                <div>
                    <span>5家</span>
                    <p>信赖公司</p>
                </div>
                <div>
                    <span>1500+</span>
                    <p>人才库</p>
                </div>
                <div>
                    <span>200+</span>
                    <p>人才入职</p>
                </div>
            </div>
        </div>
    </div>


    <div class="bg-grey">
        <div class="container">
            <div class="row m-title">
                <p>最新职位</p>
                <div></div>
                <span>SERVICE FLOW</span>
            </div>
            <span ng-click="vm.kk()">更多</span>
            <div  class="row ">
                <div class="col-md-12">
                    <div uib-carousel active="active" interval="vm.myInterval" no-wrap="vm.noWrapSlides" >
                        <div uib-slide ng-repeat="s in vm.slides track by s.id " index="s.id">
                            <div class="box " ng-click="vm.con(this)">
                                <div class="bg-white">
                                    <img ng-src="{{s.logo1}}" style="margin:auto;">
                                    <p class="big-font">{{s.id1}}</p>
                                    <P class="small-font">{{s.cName1}}</P>
                                </div>
                                <div class="bg-white">
                                    <img ng-src="{{s.logo2}}" style="margin:auto;">
                                    <p class="big-font">{{s.id2}}</p>
                                    <P class="small-font">{{s.cName2}}</P>
                                </div>
                                <div class="bg-white">
                                    <img ng-src="{{s.logo3}}" style="margin:auto;">
                                    <p class="big-font">{{s.id3}}</p>
                                    <P class="small-font">{{s.cName3}}</P>
                                </div>
                                <div class="bg-white">
                                    <img ng-src="{{s.logo4}}" style="margin:auto;">
                                    <p class="big-font">{{s.id4}}</p>
                                    <P class="small-font">{{s.cName4}}</P>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row m-title">
            <p>服务流程</p>
            <div></div>
            <span>SERVICE FLOW</span>
        </div>
        <div class="row m-server">
            <div class="u-server">
                <div class="col-md-2 col-xs-12 col-md-offset-1  u-server-img">
                    <img src="images/flow-1.png">
                    <p>1.意向洽谈，深入评审</p>
                </div>
                <div class="col-md-2  m-server-box">
                    <img src="images/arrow.png">
                </div>
                <div class="col-md-2 col-xs-12 u-server-img ">
                    <img src="images/flow-2.png">
                    <p>2.确认合作，签订合同</p>
                </div >
                <div class="col-md-2  m-server-box">
                    <img src="images/arrow.png">
                </div>
                <div class="col-md-2 col-xs-12  u-server-img">
                    <img src="images/flow-3.png">
                    <p>3.提出需求，提供jd</p>
                </div>
            </div>

   <!--         <div class="visible-md-2" style="height: 30px"></div>-->

            <div class="u-server">
                <div class="col-md-2 col-xs-12 col-md-offset-1  u-server-img">
                    <img src="images/flow-4.png">
                    <p>4.开始招聘，人才精选</p>
                </div>
                <div class="col-md-2  m-server-box">
                    <img src="images/arrow.png">
                </div>
                <div class="col-md-2 col-xs-12  u-server-img">
                    <img src="images/flow-5.png">
                    <p>5.人才评测，简历脱水</p>
                </div>
                <div class="col-md-2  m-server-box">
                    <img src="images/arrow.png">
                </div>
                <div class="col-md-2 col-xs-12 u-server-img ">
                    <img src="images/flow-6.png">
                    <p>6.上岗，转入售后</p>
                </div>
            </div>
        </div>
    </div>





</div>




