
<div class="bg-grey padding-big clearfix">

    <form name="form"   ng-submit="vm.addCom()"  class="panel panel-default m-conDetail" >
        <!-- Default panel contents -->
        <div class="panel-heading">
            <div class="m-flex m-content">
                <p>详细信息</p>
                <label><select  ng-model="vm.com.company.approved"  ng-options="s.name for s in vm.se.approved" ></select></label>
            </div>
        </div>
        <!-- Table -->
        <div class="clearfix">
            <div class="form-group col-md-5">
                <label><span>*公司名称</span></label>
                <input type="text"  ng-model="vm.com.company.name"  required>
            </div>
            <div class="form-group col-md-5">
                <label >*公司slogan</label>
                <input type="text"  ng-model="vm.com.company.solgan"  required>
            </div>
            <div class="form-group col-md-5">
                <label >*公司人数</label>
                <input   ng-model="vm.com.company.totalNum"  required >
            </div>
            <div class="form-group col-md-5">
                <label>*融资规模</label>
                <select   ng-model="vm.com.company.financing" ng-options="s.name for s in vm.se.financing" required></select>
            </div>
            <div class="form-group col-md-8">
                <label >*地区</label>
                <select ng-options="s.proName for s in vm.se.province" ng-model="vm.com.company.province"  style="width: 25%;margin-right: 10px" required></select>
                <select ng-options="s.cityName for s in vm.se.city" ng-model="vm.com.company.city"  style="width: 25%;margin-right: 10px"  required></select>
                <select ng-options="s.countryName for s in vm.se.country" ng-model="vm.com.company.country"  style="width: 25%" required></select>
            </div>
            <div class="form-group col-md-4">
                <lable class="u-la">*行业</lable>
                <div isteven-multi-select input-model="vm.se.industry" output-model="vm.company.industry" button-label="icon name" item-label="icon name maker" tick-property="ticked" style="display: inline-block"></div>
            </div>

            <div class="col-md-11 u-company">
                <lable class="u-la">*公司logo</lable>
                <label for="file1" class="btn btn-primary">选择文件</label>
                <input  type="file" id="file1" nv-file-select=""  uploader="uploader" multiple style="display: none"  /><br/>
                <div style="margin-left: 100px;width: 82%">
                <img name="img"   style="width: 300px;display: block;padding-left: 0" src="{{vm.com.company.logo}}" alt="图片预览区" >
                    <table class="table ">
                        <thead>
                        <tr>
                            <th width="50%">名称</th>
                            <th ng-show="uploader.isHTML5">大小</th>
                            <th ng-show="uploader.isHTML5">进度</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td>
                                <strong>{{ item.file.name }}</strong>
                            </td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> 上传
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"   ng-click="vm.haha()"></span> 移除
                                </button>

                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>



            </div>

                <div class="form-group col-md-11">
                <lable class="u-la">*公司介绍</lable>
                <textarea   ng-model="vm.com.company.summary" style="width: 82%;min-height: 150px"  ></textarea>
                </div>

            <div class="form-group col-md-8">
                <label class="u-la" >*公司标签</label>
                <div class="u-inline"><input type="text" ng-model="vm.tagText"><button type="button" ng-click="vm.addTag()">x</button></div>
                <button type="button" ng-repeat="tag in vm.com.tagList" ng-click="vm.deleteTag(this)" >{{tag}}</button>
            </div>

        </div>

        <div class="bg-white ">

            <div  class="bg-grey u-hd">
                <p>公司产品</p>
            </div>

            <div class="clearfix">

                <div class="form-group col-md-5">
                    <label ><span>产品名称</span></label>
                    <input type="text"  ng-model="vm.com.productList.name">
                </div>
                <div class="form-group col-md-5">
                    <label >产品Slogan</label>
                    <input type="text"  ng-model="vm.com.productList.solgan">
                </div>
                <div class="form-group col-md-11">
                    <lable class="u-la">产品logo</lable>
                    <label for="file2" class="btn btn-primary">选择文件</label>
                    <input  type="file" id="file2" nv-file-select=""  uploader="uploader1" multiple style="display: none" /><br/>
                    <div style="margin-left: 100px;width: 82%">
                        <img name="img1"   style="width: 300px;display: block;padding-left: 0" src="{{vm.com.productList.logo}}" alt="图片预览区" >
                        <table class="table ">
                            <thead>
                            <tr>
                                <th width="50%">名称</th>
                                <th ng-show="uploader.isHTML5">大小</th>
                                <th ng-show="uploader.isHTML5">进度</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in uploader1.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> 上传
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"  ng-click="moveImg('upload1')"></span> 移除
                                    </button>

                                </td>
                            </tr>
                            </tbody>
                        </table>
<!--
                        <div  nv-file-drop="" uploader="uploader2"  style="padding-left: 0">

                        </div>
-->
                    </div>

                </div>
                <div class="form-group col-md-11">
                    <label class="u-la">产品简介</label>
                    <textarea  ng-model="vm.com.productList.summary" style="width: 82%;min-height: 150px"></textarea>
                </div>
            </div>


        </div>

        <div class="bg-white ">

            <div  class="bg-grey u-hd">
                <p>招聘公司相关信息</p>
            </div>

            <div class="clearfix">

                <div class="form-group col-md-5">
                    <label >手机</label>
                    <input type="text"  ng-model="vm.com.productList.phone">
                </div>
                <div class="form-group col-md-5">
                    <label class="col-md-5">邮箱</label>
                    <input type="text"  ng-model="vm.com.productList.mail">
                </div>
                <div class="form-group col-md-11" >
                    <label >详细地址</label>
                    <input type="text"   ng-model="vm.com.productList.address">

                </div>
                <div class="form-group col-md-11">

                    <lable class="u-la">地图</lable>
                    <label for="file3" class="btn btn-primary">选择文件</label>
                    <input  type="file" id="file3" nv-file-select=""  uploader="uploader2" multiple style="display: none" /><br/>
                    <div style="margin-left: 100px;width: 82%">
                        <img name="img"   style="width: 300px;display: block;padding-left: 0" src="{{ vm.com.company.map}}" alt="图片预览区" >
                        <table class="table ">
                            <thead>
                            <tr>
                                <th width="50%">名称</th>
                                <th ng-show="uploader.isHTML5">大小</th>
                                <th ng-show="uploader.isHTML5">进度</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in uploader2.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> 上传
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"  ng-click="moveImg('upload2')"></span> 移除
                                    </button>

                                </td>
                            </tr>
                            </tbody>
                        </table>

<!--
                        <div  nv-file-drop="" uploader="uploader2"  style="padding-left: 0">
                        </div>
-->
                    </div>

                </div>
            </div>
        </div>

        <div class="row">


        <div class="col-md-12">
            <button type="submit"  class="btn btn-success right" style="margin: 0 20px" ng-disabled='form.$invalid'>保存</button>
            <button type="button" class="btn btn-danger right" ng-click="vm.gg()">取消</button>
        </div>
        </div>

    </form>
</div>
