<div class="container">
    <h2>joblist</h2>
    <form action="" class="row">
        <div class="col-sm-4 col-xs-12">
            <label for="cpyname">公司名称&nbsp;</label>
            <input type="text" id="cpyname" name="cpyname">
        </div>
        <div class="col-sm-4 col-xs-12">
            <label for="jobname">职位名称&nbsp;</label>
            <input type="text" id="jobname" name="jobname">
        </div>
        <div class="col-sm-4 col-xs-12">
            <label for="exp">工作经验&nbsp;</label>
            <select name="" id="exp">
                <option value="">全部</option>
                <option value="">全部</option>
                <option value="">全部</option>
                <option value="">全部</option>
            </select>
        </div>

    </form>
    
</div>