<div ng-controller="main">
    <div class="container-fluid row">
        <nav class="navbar navbar-default col-xs-12 hd-nav "  role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">萝卜多后台管理系统</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav pull-right lft-btn">
                        <li><button class="btn btn-danger" ui-sref="login">注销登录</button></li>
                        <li>超级管理员</li>
                        <li><span class="glyphicon glyphicon-off"></span></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row g-mn">
            <div class="col-sm-2 col-xs-12 f-sdtab">
                <script type="text/ng-template" id="group-template.html">
                    <div class="panel-heading">
                        <h4 class="panel-title" style="color:#fa39c3">
                            <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                              <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                                {{heading}}
                              </span>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" uib-collapse="!isOpen">
                        <div class="panel-body" style="text-align: right" ng-transclude></div>
                    </div>
                </script>
                <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default" heading="{{module.name}}" ng-if="module.parentID==0" ng-repeat="module in vm.modules">
                        <ul>
                            <li class="tab-item"  ng-repeat="x in vm.modules" ui-sref="{{x.id|moduleurl}}"  ng-if="x.parentID==module.id" >{{x.name}}</li>
                        </ul>
                    </div>
                </uib-accordion>
            </div>
            <div ui-view="" class="col-sm-10 col-xs-12 g-mn-view" >

            </div>
        </div>
    </div>




</div>