<div ng-controller="main">
    <div class="container-fluid row">
        <nav class="m-hd col-xs-12">
            <div class="m-tt">萝卜多后台管理系统</div>
            <div>
                <button class="btn btn-danger" ui-sref="login">注销登录 </button>
                <span>超级管理员</span>
            </div>
        </nav>
        <div class="row g-mn">
            <div class="col-xs-2 f-sdtab">
                <script type="text/ng-template" id="group-template.html">
                    <div class="panel-heading">
                        <h4 class="panel-title" style="color:#fa39c3">
                            <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                              <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                                {{heading}}
                              </span>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" uib-collapse="!isOpen">
                        <div class="panel-body" style="text-align: right" ng-transclude></div>
                    </div>
                </script>
                <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default" heading="{{module.name}}" ng-if="module.parentID==0" ng-repeat="module in vm.modules">
                        <ul>
                            <li class="tab-item" ng-repeat="x in vm.modules" ng-if="x.parentID==module.id" >{{x.name}}</li>
                        </ul>
                    </div>
                </uib-accordion>
            </div>
            <div ui-view="" class="col-xs-10" style="background-color: #5bc0de;padding: 0"></div>
        </div>
    </div>




</div>