.u-operate button {
  border: none;
  text-decoration: none;
  background-color: white;
}
.m-search {
  display: flex;
  justify-content: flex-end;
}
.m-search button {
  height: 20px;
  width: 54px;
  font-size: 14px;
  border: none;
  margin: 0 10px;
}
.m-search .u-restting {
  color: white;
  background-color: #d9534f;
}
.m-search .u-search {
  color: white;
  background-color: #5cb85c;
}
