.hd-nav {
  margin-bottom: 0;
}
.lft-btn li {
  display: inline-block;
  margin-top: 10px;
  line-height: 40px;
  font-size: 1.5rem;
  margin-left: 20px;
}
.g-mn {
  width: 100%;
  margin: 0;
}
.g-mn .f-sdtab {
  padding: 0;
  border-right: 1px solid lightgray;
}
.g-mn .f-sdtab .tab-item {
  height: 2rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  cursor: pointer;
}
.g-mn .g-mn-view {
  padding: 0;
  min-height: 800px;
  border-left: 1px solid gray;
}
