.m-hd {
  background-color: #4d5b76;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}
.m-hd .m-tt {
  margin-left: 5px;
  font-size: 2rem;
}
.g-mn {
  width: 100%;
  margin: 0;
}
.g-mn .f-sdtab {
  padding: 0;
  min-height: 800px;
  border-right: 1px solid lightgray;
}
.g-mn .f-sdtab .tab-item {
  height: 2rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  cursor: pointer;
}
