.detail {
  display: inline-block;
  padding: 30px;
}
.m-flex {
  display: flex;
}
.m-content {
  justify-content: space-between;
}
.m-search-font {
  width: 96%;
  background-color: white;
  margin: 20px auto;
  font-size: 1.5rem;
}
.m-search-font .f-condi {
  display: inline-block;
  min-height: 50px;
  line-height: 50px;
}
.m-search-font .f-condi label {
  line-height: 50px;
  min-width: 70px;
}
.m-search-font .f-condi input {
  border-radius: 5px;
  height: 35px;
}
.m-search-font .f-condi select {
  width: 177px;
  border-radius: 5px;
  height: 35px;
}
.m-search-font .datepick {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  line-height: 50px;
}
.m-search-font .datepick button {
  height: 35px;
}
.m-search {
  display: flex;
  justify-content: flex-end;
}
.m-search button {
  height: 20px;
  width: 54px;
  font-size: 14px;
  border: none;
  margin: 0 10px;
}
.m-search .u-restting {
  color: white;
  background-color: #d9534f;
}
.m-search .u-search {
  color: white;
  background-color: #5cb85c;
}
